body {
    margin: 0;
    padding: 0;
    background: rgb(90, 90, 90);
    color: #fff;
}

.navbar{
    border-bottom: #008ed6 3px solid;
    opacity: 0.7;
    
}

#home-section {
    background: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
}

#home-section .home-inner {
    padding-top: 150px;
}

#home-section .card-form {
opacity: .75;
    /* height: 50vh; */
}


/* Home check background */
#home-section .fas, #create-section .fas {
    color: #008ed6;
    background: #fff;
    padding: 6px;
    border-radius: 5px;
}

/* Explore & share check background */
#explore-section .fas, #share-section .fas {
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
